@font-face {
    font-family: 'Rubik';
    src: url('https://fonts.gstatic.com/s/rubik/v28/iJWKBXyIfDnIV7nBrXw.woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

h1,
h2,
h3 {
    font-family: 'Rubik';
    letter-spacing: normal !important;
}

.hidden-tabs [data-component-part="tabs-list"] {
    display: none !important;
}

.hidden-tabs .tabs-list {
    display: none !important;
}